extends layout

block content
    h2 Help content
    ol
        li Click on any text to edit the markdown in place
        li Use 'return' key to edit multi line
        li 'shift' + 'enter' to get a new block
        li save/load is backed by local storage and never leaves the browser
        li To delete a document see resources tab in F12 tool
        li Saving the resulting html to a file is supported by opening a new tab where a clean ctrl + s can go down
        li If you are experiencing issues make sure you are using chrome browser

    h2 About
    p This project was inspired by a side conversation between https://github.com/dabutvin and https://github.com/jpiccari one day in the office.
    p markdown converted by https://github.com/evilstreak/markdown-js
    p typography styles by https://github.com/sindresorhus/github-markdown-css