body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.line.focused {
    font-size: 20px;
}

#container {
    text-align: left;
}

#container.centered {
    text-align: center;
}

#toplinks {
    position: fixed;
    right: 5px;
    top: 5px;
}

#bottomlinks {
    position: fixed;
    right: 5px;
    bottom: 5px;
}